.container-home {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #faf4e9;
}

.home-banner {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  height: 40vh;
  box-shadow: 0 4px 4px -2px rgb(165, 165, 165);
  overflow: hidden;
  z-index: 1;
}

.home-banner::after {
  content: "";
  background-image: asset-url('vista_franca.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1; /* Mantém a imagem de fundo atrás do conteúdo da div */
}


.ra-banner {
  color: #302616;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  // text-shadow: 2px 2px 0px #ECCD97;
  z-index: 2;
  h1 {
    font-weight: 700;
  }
}

.content-home {
  color: #302616;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  h1 {
    font-weight: 600;
  }
  p {
    font-weight: 400;
    line-height: 1.70;
  }
}
