.heritage-title {
  color: #302616;
  border-bottom: #302616 2px solid;
  box-shadow: 0px 4px 4px -4px #302616;
}

.heri-box {
  color: #302616;
  border-bottom: #302616 0.5px solid;
  box-shadow: 0px 2px 2px -2px #302616
}

.dantes-img {
  margin-top: 32px;
  width: 40vw;
  box-shadow: 0 0 15px #5c4b30;
  border-radius: 4px;
}

.fabiano-img {
  // margin-top: 32px;
  width: 50vw;
  box-shadow: 0 0 15px #5c4b30;
  border-radius: 4px;
}

.relogio-img {
  width: 30vw;
  box-shadow: 0 0 15px #5c4b30;
  border-radius: 4px;
}

.francis-img {
  width: 40vw;
  box-shadow: 0 0 15px #5c4b30;
  border-radius: 4px;
}

.mogiana-img {
  width: 30vw;
  box-shadow: 0 0 15px #5c4b30;
  border-radius: 4px;
}

.champa-img {
  // width: 30vw;
  box-shadow: 0 0 15px #5c4b30;
  border-radius: 4px;
}

.museu-img {
  margin-block: 32px;
  box-shadow: 0 0 15px #5c4b30;
  border-radius: 4px;
}

.prison-img {
  margin-block: 32px;
  width: 40vw;
  box-shadow: 0 0 15px #5c4b30;
  border-radius: 4px;
}

.frontao-img {
  margin-block: 32px;
  width: 40vw;
  box-shadow: 0 0 15px #5c4b30;
  border-radius: 4px;
}

.pintor-img {
  margin-block: 32px;
  width: 30vw;
  box-shadow: 0 0 15px #5c4b30;
  border-radius: 4px;
}
