.container-home {
  width: 100%;
  padding: 0;
}

.home-banner {
  position: relative;
  padding: 0;
  margin: 0;
  // height: 50vh;
  color: #ECCD97;
}

.home-banner::after {
  content: "";
  background-image: url('vista_franca.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Define a opacidade desejada */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1; /* Mantém a imagem de fundo atrás do conteúdo da div */
}

.banner-img {
  width: 100%;
}

.ra-banner {
  color: #302616;
  text-shadow: 2px 2px 0px #ECCD97;
}
