<div class="container-footer">
  <div class="footer-logo p-2 align-items-center">
    <div class="footer-image m-1 text-center">
      <%= link_to root_path do %>
        <%= image_tag 'logo_auf1-removebg-preview.png', alt: 'Logo', height: '60', width: '80' %>
      <% end %>
    </div>
    </div>
</div>
