<div class="container municipios-container mb-5">

  <div class="text-center m-4">
    <h1>Municípios da AUF</h1>
  </div>
  <div class="aramina m-4">
    <div class="text-center m-2">
      <h2>Aramina</h2>
    </div>
    <div class="text-center text-justify">
      Aramina teve início como povoado, por volta de 1905. Em 1910 tomou impulso com a instalação da Companhia Mogiana de Estradas de Ferro, em terrenos doados pelo Capitão Antônio Scandiuzzi, recebendo o nome de Aramina em virtude da existência de grande quantidade de uma planta que assim se cognominou, em toda a região.

      Em 1934, o povoado passou a ser distrito do Município de Igarapava, por iniciativa de Juvenal Campos, Fábio José de Araújo, Paulo Bortoletto, Eraclides Fernandes e outros.
      Em 1963, por ocasião da campanha para a emancipação política-administrativa, quando se destacaram os araminenses Neder Cagliari, Thomaz Antônio Scandiuzzi e Paulo David, foi realizado um plebiscito visando à criação do novo município, o que se efetivou em 1964.

      Atualmente a população de Aramina é de 5.420 habitantes e a densidade demográfica era de 26,72 habitantes por quilômetro quadrado. Em 2021, o PIB per capita era de R$27.249 com uma participação de receitas externas em 83,13%. Entre suas principais atividades econômicas, o municípios se destaca pela produção de Cana de Açúcar e Soja.
    </div>
  </div>
  <div class="buritizal m-4">
    <div class="text-center">
      <h2>Buritizal</h2>
    </div>
    <div class="text-center">
      A origem do seu nome advém da palmeira “buriti”que é abundante nas margens do córrego Buritis, onde está localizada a cidade.

      Por volta de 1850, vindos de Franca-SP, Sacramento e Jacutinga, Minas Gerais, surgiram os primeiros povoadores, iniciando a criação de gado, o plantio de algodão, arroz e, mais tarde, a extração de lenha, diversificando para o plantio de café e demais produtos da lavoura.

      Em 1873, foi fundada a Vila dos Buritis, por Manoel Dias Ferreira, José Ignácio dos Santos Filho, João Damasio Ramos, Miguel Dias Cardoso e sua mulher Maria Perpétua da lua.

      O Distrito de Paz de Buritis foi criado em 1897 e destacaram-se na sua criação: José Honório de Campos, Pedro Ignácio dos Santos, José Antônio Vieira, Antônio Fernandes Pinheiro, José Fernandes Pinheiro, Clementino Mendes Pinheiro, José Martins de Andrade, Antônio Faustino Marques e outros. Em 1944, foi nomeado de Buritis para Buritizal.

      Atualmente a população de Buritizal é de 4.356 habitantes e a densidade demográfica é de 16,35 habitantes por quilômetro quadrado. o PIB per capita é de R$53.769,11 com o percentual de receitas externas de 87,72%. Entre suas principais atividades econômicas estão a produção de Cana de açúcar, soja e café.
    </div>
  </div>
  <div class="cristais-paulista m-4">
    <div class="text-center">
      <h2>Cristais Paulista</h2>
    </div>
    <div class="text-center">
      No início do século, Alexandre Vilela doou, para formação da cidade, parte de suas terras. Houve a preocupação de alinhar as ruas e aplainar os terrenos, obtendo-se um traçado regular, onde aos poucos, surgiu a povoação, com capela, estação ferroviária da Estrada de Ferro Mogiana, hoje desativada, casas residenciais e comerciais.

      Em 28-07-1910, pela lei estadual n.º 1202, foi criado o “distrito de Crystaes”, nome este alterado em 30-11-1944, para Guapuã, por força do decreto estadual n.º 14334. O distrito recebeu os benefícios da energia elétrica em 1913. A construção da atual igreja, em louvor à padroeira, Nossa Senhora da Abadia, foi iniciada em 1920. A elevação de Guapuã a município se deu em 18 de fevereiro de 1959, pela lei estadual n.º 5285 e seu nome foi alterado para Cristais Paulista, pela lei n.º 8092, de 28-02-1964.

      O nome “Cristais “ originou-se do córrego do mesmo nome, que margeia a cidade, em cujo leito eram encontradas inúmeras pedras cristalizadas de várias cores. O adjetivo “Paulista” foi dado para diferenciar do município de mesmo nome, do estado de Minas Gerais.

      Atualmente a população de Cristais comporta 9.272 habitantes e a densidade demográfica era de 24,07 habitantes por quilômetro quadrado. O PIB em 2021 contabilizava R$346.565.911 e entre suas principais atividades econômicas estão a produção de café e cana de açúcar.
    </div>
  </div>
  <div class="franca m-4">
    <div class="text-center">
      <h2>Franca</h2>
    </div>
    <div class="text-center">
      A região compreendida entre os rios Pardo e Grande, embora desbravada no século XVI, foi povoada somente a partir das descobertas das minas de Goiás por Anhanguera II no início do século XVIII. Com a abertura das estradas de Goiás em 1722 e do Desemboque algumas décadas após, foram se formando vários pousos que se constituíram nos primeiros núcleos povoadores desta região. Um pequeno fluxo populacional das últimas décadas do século XVIII permite a formação do povoado disperso, que ficou conhecido como Bairro das Canoas, abrangendo os pousos: das Covas, Alto e Alegre, além de outras paragens. Covas foi o pouso iminente de comerciantes e transportadores de sal, além de servir de arraial temporário da região.

      Em função do crescente número de moradores dispersos, foi ali criada uma Companhia de Ordenanças e nomeado Capitão, a pessoa de Manoel Almeida em 1791. Pertencia à freguesia de Caconde e ao Município de Moji Mirim. No início do século XIX, a região recebe um fluxo populacional de grandes proporções. São os mineiros que vêm das Gerais, principalmente do Sul de Minas e os goianos do Sertão da Farinha Podre (futuro Triângulo Mineiro). Vinham criar gado e plantar suas lavouras. Explica-se este fluxo pela decadência da mineração de Minas Gerais, esgotando o ouro de aluvião dos córregos, os habitantes daquela Capitania procuravam uma outra atividade, que estava ligada à terra.

      Hipólito Antônio Pinheiro, mineiro de Caconde, substitui o posto vago de Capitão de Ordenanças do 'Belo Sertão do Rio Pardo' em agosto de 1804, ocasião em que são dados os primeiros atos efetivos da fundação do povoado. Em 29 de agosto de 1805, foi criada a Freguesia de Nossa Senhora da Conceição da Franca e do Rio Pardo, simplificada para Franca, em homenagem ao Governador da Capitania, Antônio José da Franca e Horta. O arraial foi assentado em uma colina entre dois córregos: Bagres e Cubatão, em terrenos da Fazenda Santa Bárbara, doadas para este fim em 03 de dezembro de 1805, por Antônio Antunes de Almeida e seu irmão Vicente Ferreira Antunes de Almeida e esposa Maria Francisca Barbosa. Nesta ocasião foi ereta uma Capela - Interina sob a direção de Manoel Marques de Carvalho e celebrada a primeira missa pelo Padre Joaquim Martins Rodrigues. Essa Capela está situada no local do atual edifício da Cúria Diocesana, que foi depois denominada de Nossa Senhora do Rosário dos Homens Pretos. A Igreja Matriz, iniciada em 1809, foi construída na Praça principal, onde hoje está a Fonte Luminosa.

      Em 1838, Franca foi teatro de revolta, por parte do Capitão Anselmo Ferreira de Barcellos, daí o célebre episódio denominado 'Anselmada'. Cometeram-se terríveis barbaridades, muitas pessoas de bem fugiram e o crime saiu vitorioso. A sedição foi sufocada e foi então que Franca passou a ser sede de uma Comarca e possuir um Juiz de Direito, pela lei provincial nº 7, de 14 de março de 1839. Em primeiro de março de 1842 é criado o Distrito Policial.

      Atualmente Franca possui uma população de 352.536 habitantes sendo caracterizada cidade polo da Aglomeração Urbana de Franca e carrega uma importância histórica, econômica, política e cultural para o desenvolvimento regional. Entre suas principais atividades econômicas, o setor de serviços tem se destacado com uma participação de 74% de participação do PIB da cidade, além da produção industrial no setor coureiro e calçadista.
    </div>
  </div>
  <div class="guara m-4">
    <div class="text-center">
      <h2>Guará</h2>
    </div>
    <div class="text-center">
      Por volta de 1750, procedentes de Ventania e Jacuí, em Minas Gerais, chegaram à região entre os rios Grande e Sapucaí, os irmãos Joaquim Manoel e Jerônimo Alves Figueiredo, e à margem de um córrego que denominaram de “Lageado”, construíram rústicas habitações.

      Em 1903 a Companhia Mogiana de Estrada de Ferro, hoje FEPSA, inaugurou uma estação na região, denominando-se “Guará”. Escolheu esse nome devido à existência de uma lagoa próxima à parada ferroviária, onde havia uma grande quantidade de aves pernaltas de plumagem rósea, chamada Guará (garça vermelha, do tupi-guarani).

      Os descendentes dos fundadores de Lageado transferiram-se para junto da estação, distante quatro quilômetros do núcleo primitivo, onde fundaram um novo povoado conservando o nome dado pela Ferrovia, Guará. Aí desenvolveu-se o mesmo e em 1914, passou à categoria de Distrito e no ano seguinte, foi elevado a Município, desmembrando-se de Itaverava, ao qual pertencia.

      Atualmente a cidade de Guará comporta 18.606 habitantes e carrega uma importância econômica na produção de Biocombustíveis que comporta 79% da sua produção industrial.
    </div>
  </div>
  <div class="guaira m-4">
    <div class="text-center">
      <h2>Guaíra</h2>
    </div>
    <div class="text-center">
      Suas origens remontam ao ano de 1901, na região situada entre os rios Grande, Pardo e Sapucaí, no município de Nuporanga, onde Antônio Marques Garcia, João Garcia de Carvalho Leal e José Dias Nogueira fundaram um povoado no local denominado Corredeira de São Sebastião que era passagem natural do caminho que levava a Santana dos Olhos d’Água (atual Ipuã).

      Mais tarde, passou a se chamar Corredeira do Bom Jardim e em 1908, com a criação do Distrito de Paz, adotou-se o nome definitivo, Guaíra. Segundo Aristides Rojas em sua obra “Estudos Históricos”, o topônimo Guaíra é de origem quéchua, do vocábulo “huayra”, significando vento, brisa, etc. Esta versão não é aceita, no entanto, pelos guairenses, que têm Guaíra como origem indígena, significando água brava, corrente ou corredeira, ou mais popularmente como “águas correntes”.
    </div>
  </div>
  <div class="itirapua m-4">
    <div class="text-center">
      <h2>Itirapuã</h2>
    </div>
    <div class="text-center">
      Itirapuã surgiu por volta de 1890, em função da garimpagem praticada em Patrocínio do Sapucaí (atual Município Paulista), quando Antônio Joaquim do Carmo, conhecido por “ Antônio Beltrudes”, por interesses comerciais, retirou-se seis quilômetros à leste daquela cidade, construindo no local, algumas moradias.

      As terras para formação do patrimônio foram doadas à Nossa Senhora Aparecida, em 1892, pelo Coronel Cândido do Couto Rosa, seguido de Missael Franco da Rocha e Horácio Alves da Silva. Segundo Theodoro Sampaio, o topônimo adotado, de origem indígena - “ ityra-puã”, significa morro em forma de dedo, com alusão às escarpas da Serra de Franca, ramificação da Mantiqueira, no limite leste de seu território.

      O aparecimento das fazendas de café constituiu nova atração aos imigrantes estrangeiros, principalmente portugueses e espanhois que se integraram na sociedade, quase toda formada de mineiros. O Distrito de Paz, criado em 1900, somente foi elevado à categoria de Município em 1948, porque as sucessivas crises do café provocaram uma retração no desenvolvimento local.
    </div>
  </div>
  <div class="ituverava m-4">
    <div class="text-center">
      <h2>Ituverava</h2>
    </div>
    <div class="text-center">
      Em 1810, Fabiano Alves Freitas iniciou a derrubada das matas próximas ao Rio do Carmo, para formação de pastagens e cultivo da terra e, cinco anos depois, construiu uma capela em louvor a Nossa Senhora do Carmo. As festividades religiosas promovidas nessa capela, atraíram os sertanistas que, junto a ela, foram se estabelecendo.

      O topônimo de origem tupi-guarani que significa “cachoeira reluzente".
    </div>
  </div>
  <div class="ipua m-4">
    <div class="text-center">
      <h2>Ipuã</h2>
    </div>
    <div class="text-center">
      Localizado entre o rio Sapucaí e o ribeirão do Rosário, Ipuã, que em tupi significa “ Água que brota da terra “, teve sua fundação ainda em meados do século passado.

      Seu primitivo nome, Santana dos Olhos D’Agua, que também é sinônimo de “ ipuã “, nasceu em terras doadas pelos antigos povoadores, o casal Carlos Fernandes e sua mulher Tereza Fernandes, e que hoje tem ruas como homenagem.

      A freguesia de Santana dos Olhos D’Aguas, criada em abril de 1859 no Município de Batatais, em fevereiro de 1872, foi anexada a São José do Morro Agudo ( hoje Morro Agudo), onde permaneceu até maio de 1977. Sua subordinação, no entanto, também esteve sob jurisdição de Nuporanga, em março de 1885; a Orlândia, em novembro de 1909, e a São Joaquim da Barra, em dezembro de 1927. O topônimo Ipuã foi determinado em 1944, e a autonomia político-administrativa em 1948.
    </div>
  </div>
  <div class="igarapava m-4">
    <div class="text-center">
      <h2>Igarapava</h2>
    </div>
    <div class="text-center">
      Bartolomeu Bueno da Silva Filho consolidou em 1722, a “Estrada dos 	Goyazes“, aberta por seu pai, o “ Anhenguera “, e obteve a concessão, em sociedade com seu genro, João Leite da Silva Ortiz, de uma sesmaria, junto à travessia do Rio Grande, Porto Espina, próximo à ilha Roberto ( Ilha Grande ).

      Aventureiro fixou-se na região em consequência da exploração do ouro, por volta de 1750, estabelecendo o “ corredor do ouro“. Com o declínio desse ciclo, muitos mineiros passaram a construir fazendas ao longo da Estrada dos Goyazes. Com o devassamento dessa região, começaram a surgir algumas aldeias que, aos poucos, foram consolidando o aparecimento de cidades, tais como Vila Franca do Imperador ( Franca ) e Capela do Carmo ( Ituverava ). Por volta de 1838, desentendimentos políticos agitavam a Vila Franca do Imperador; o Capitão Anselmo Ferreira de Barcellos, descontente com os acontecimentos locais, adquiriu uma faixa de terras, junto à fazenda Soledade, nas margens do rio Grande. Alguns anos mais tarde, auxiliado pelo padre Zeferino Baptista Carmo, construiu, no pouso ali existente, uma capela em louvor a Santa Rita.

      A imagem da Santa padroeira foi doada pelo padre Jerônimo Gonçalves de Macedo, fundador da fazenda vizinha, Paraíso. Daí o nome do povoado nascente: Santa Rita Paraíso.A freguesia de Santa Rita do Paraíso foi criada em 1851 e elevada a vila, com prerrogativas de Município, em 1873, desmembrando-se de Franca. Quando a Companhia Mogiana de Estrada de Ferro atingiu Uberaba, MG, em 1889, o movimento da Estrada Uberaba -Franca foi desviado para aquela cidade, paralisando o desenvolvimento de Santa Rita do Paraíso.

      Seu crescimento somente foi retomado a partir de 1904, quando a ferrovia inaugurou uma estação na cidade. Passando a possuir fácil comunicação com outros centros muitos imigrantes aí se fixaram, dando início à cultura cana-de-açúcar. Nessa época foi adotada a denominação de Igarapava que, em tupi-guarani, significa "portos das canoas".
    </div>
  </div>
  <div class="jeriquara m-4">
    <div class="text-center">
      <h2>Jeriquara</h2>
    </div>
    <div class="text-cent">
      Elevado a município em 1964, teve sua origem em 1883, quando o Capitão Antônio Joaquim de Souza Costa doou uma gleba de terra, denominada Arraial de São Sebastião da Ponte Nova. Através da Lei Estadual nº 2148, de 28 de novembro de 1926, essa denominação foi alterada para Jeriquara, que na língua tupi significa ″refúgio das tartarugas″. Hoje essa gleba constitui um patrimônio da cidade. Em Jeriquara a economia predominante é a cultura do café e arroz e a produção de leite.
    </div>
  </div>
  <div class="miguelopolis m-4">
    <div class="text-center">
      <h2>Miguelópolis</h2>
    </div>
    <div class="text-center">
      Na margem do rio Grande, entre Sapucaí e o Ribeirão do Carmo, o povoamento iniciou-se por volta de 1895, quando alguns desbravadores se fixaram, embora precariamente. Em torno de 1910, Jacinto Felizardo Barbosa e o Capitão Hilário Alves de Freitas resolveram doar 15 alqueires de terra para formação de um patrimônio e construção de uma capela em louvor a São Miguel Arcanjo. A povoação ficou conhecida como patrimônio de São Miguel até outubro de 1927, quando a Lei criou o Distrito de Paz, com o nome de Miguelópolis, no Município de Ituverava.
    </div>
  </div>
  <div class="patrocinio-paulista m-4">
    <div class="text-center">
      <h2>Patrocínio Paulista</h2>
    </div>
    <div class="text-center">
      A região do rio Santa Bárbara, afluente do Sapucaí-Mirim, teve o povoamento iniciado pelo ano de 1830, quando a notícia de extração de Diamantes, atraiu inúmeros garimpeiros, que se fixaram naquela região, iniciando um povoado. Em 1833 foi elevado à categoria de freguesia com o nome de Nossa Senhora do Patrocínio de Santa Bárbara dos Macaúbas.

      No entanto, em 1850, João Cândido dos Reis e outros proprietários provocaram a expulsão dos garimpeiros por invasão de terras, mediante emprego de força militar que com violência afugentou-os para vários quilômetros acima, no rio Sapucaizinho. Em 1854, o povoado de Nossa Senhora de Santa Bárbara foi extinto e destruído.

      Nova povoação formou-se, levando o Bispado de São Paulo a criar a freguesia de Nossa Senhora do Patrocínio do Sapucaí, em abril de 1874, ato confirmado pela Assembleia Legislativa Provincial. Em março de 1885, foi elevada à vila, com a denominação de Patrocínio do Sapucaí, incorporando em 1891 o Distrito de Paz de Itirapuã. Pela Lei nº 233, de 24 de dezembro de 1944, Patrocínio do Sapucaí, teve alterada a denominação para Patrocínio Paulista.
    </div>
  </div>
  <div class="pedregulho m-4">
    <div class="text-center">
      <h2>Pedregulho</h2>
    </div>
    <div class="text-center">
      Com a expansão da cafeicultura no norte do Estado, muitas fazendas foram abertas e, para escoamento das altas produções então verificadas em fins do século XIX, a Companhia Mogiana de Estradas de Ferro prolongou seus trilhos na região. Em 1897 inaugurou, próxima ao Distrito Policial de Chapadão, a estação de pedregulho, assim denominada devido ao seu encascalhado e grande abundância de Pedregulhos coloridos. No mesmo ano, os proprietários locais Major Antonio Cândido Branquino e Capitão Elias Moreira, doaram os terrenos necessários à implantação do patrimônio junto à estação.

      As facilidades proporcionadas para a construção de casas atraíram novos moradores que efetivaram a formação do núcleo urbano. Em pouco tempo, Pedregulho superou o vizinho Chapadão, passando a sediar o Distrito Policial inicialmente instalado ali. A cafeicultura legou a Pedregulho seu maior período de progresso, sendo elevado em 1902, a distrito de paz e a município, em 1921. Todavia, devido às sucessivas crises do café, parte dos fazendeiros locais passaram a se dedicar à pecuária, atividade que exigia menor número de trabalhadores. Assim houve um êxodo de sua população para Franca onde desenvolvia-se a indústria de calçados.
    </div>
  </div>
  <div class="restinga m-4">
    <div class="text-center">
      <h2>Restinga</h2>
    </div>
    <div class="text-center">
      A Companhia Mogiana de Estrada de Ferro chegou com seus trilhos até Franca em 1887 e, em 1945, inaugurou sua estação em terras da Fazenda Monte Belo,de propriedade do Coronel Isaac Vilela de Andrade, à qual denominou Restinga, em lembrança à vizinha fazenda com o mesmo nome, de propriedade de João Alexandre Dias. Nessa ocasião, o Coronel Isaac doou uma área e construiu uma capela, em torno da qual estabeleceu um loteamento em “datas”, vendendo-as a fazendeiros e seus colonos.

      Foram os primeiros moradores os fazendeiros Joaquim Barbosa de Sales Pinto, Coronel Amélio Canto Rosa, Antônio de Oliveira Carvalho e ainda João simão, comerciante e fornecedor de dormentes à ferrovia, João Anselmo, José Marcelino de Agnelo, Santo Spadoni, Silvério Campaneli e Francisco Vilela.

      O major Joaquim Firmino de Andrade foi quem construiu as duas primeiras casas que deram início ao povoado e também instalou uma beneficiadora de café. Com a crise cafeicultura em 1929, a economia de Restinga sofreu um grave revés, mas superou-se com a cultura de cereais em suas férteis terras e a criação de gado. Em agosto de 1912, foi criado o Distrito de paz e o Município, em fevereiro de 1964, instalado no ano seguinte.
    </div>
  </div>
  <div class="rifaina m-4">
    <div class="text-center">
      <h2> Rifaina </h2>
    </div>
    <div class="text-center">
      Na margem esquerda do rio Grande, entre os córregos do Cervo e da Casa Branca, instalaram-se os primeiros povoadores, representados pelas famílias Paula Silveiras, Pereira Cassiano, Pereira Badaró, Vieira e Ferreira Coelho. A ocupação deu-se provavelmente no início do século passado, com a formação do Arraial do Cervo, na freguesia de Santa Rita do Paraíso - hoje, Igarapava. São considerados seus fundadores o Coronel José Francisco de Paulo, Coronel Manuel Cassiano e o Barão de Rifaina.

      Mas o nascimento oficial do povoado ocorreu em 13 de maio de 1865, quando o Coronel José Francisco doou uma área para constituição de um patrimônio que, em abril de 1873, foi elevado à freguesia com a denominação de Santo Antônio da Rifaina.

      Em dezembro de 1921 foi incorporado ao Município de Pedregulho com o nome simplificado para Rifaina, que segundo alguns decorreria do tupi, com o significado de “caminho do ponto do rio”. O desenvolvimento do núcleo processou-se a partir de 1887, com a inauguração da estação de parada da Estrada de Ferro Mogiana. A elevação de Rifaina a município, deu-se em dezembro de 1948.
    </div>
  </div>
  <div class="rib-corrente m-4">
    <div class="text-center">
      <h2> Ribeirão Corrente </h2>
    </div>
    <div class="text-center">
      Por volta de 1866, provenientes de Minas Gerais, diversos colonizadores estabeleceram-se na região banhada pelo Ribeirão Corrente, que corta o território do atual Município do mesmo nome. Entre esses, Francisco Franco, em 1880, doou uma gleba de terra entre o Ribeirão Corrente e seu afluente da margem esquerda, córrego dos Mendes, para formação de um patrimônio, que em homenagem à sua mulher Constância Maria de Jesus, desapareceu tragicamente segundo conta a tradição local, deu o nome de Santa Cruz.

      O povoado então formado em torno da capela e do cruzeiro, ficou com o nome de Santa Cruz do Ribeirão Corrente, elevado ao Distrito de Paz em julho de 1896, alterando o nome para Ribeirão Corrente. Sua emancipação político-administrativa veio com a criação do Município, em abril de 1965, continuando sob jurisdição da Comarca de Franca.
    </div>
  </div>
  <div class="jose-bela-vista m-4">
    <div class="text-center">
      <h2> São José da Bela Vista </h2>
    </div>
    <div class="text-center">
      Em fins do século XIX, o café começou a ser cultivado no Norte do Estado, atraindo grandes levas de famílias que, aos poucos, formavam pequenas comunidades. Nasceu assim, entre os Ribeirões Buritis e Lageado, o patrimônio de São José das Pitangueiras, onde foi construída uma capela em homenagem ao padroeiro São José.

      Doaram terras ao patrimônio, Manoel Martins da Silva (42 alqueires), em 1885, e Capitão Anselmo Diniz (52 alqueires), em 1889. Francisco de Paula Queiroz cedeu ao patrimônio, um rego d’água, do córrego Buritis, e Tertuliano da Silva e João Rodrigues Ferreira, as terras marginais desse rego. O nome do povoado de São José da Bela Vista originou-se pela data de sua fundação, 19 de março, dia santificado a São José, acrescido de Bela Vista, dada sua área territorial, praticamente plana, ser avistada a longas distâncias.
    </div>
  </div>
  <div class="joaquim-barra m-4">
    <div class="text-center">
      <h2> São Joaquim da Barra </h2>
    </div>
    <div class="text-center">
      O local onde hoje está São Joaquim da Barra, era pouso habitual de viajantes e tropeiros no percurso entre Ipuã e Nuporanga, região conhecida como “Capão do Meio’’.

      Alguns moradores, entre os quais Manoel Gouveia de Lima, João Batista da Silveira e Francisco de Lima, organizaram uma comissão para angariar fundos e adquirir algumas glebas de terras, para constituir patrimônio de uma povoação. Em 1895, José Esteves de Lima arrematou, em hasta pública, na comarca de Nuporanga, uma área situada na fazenda São Joaquim. Em 1898, José Esteves e sua mulher Dona Maria Theodora da Conceição assinaram a escritura de doação da mesma área, para formação do patrimônio. A povoação começou com a construção da primeira casa de comércio, feita por Manoel Damásio Ribeiro, em 1896, na estrada que ligava Batatais e Nuporanga a Ipuã.

      A primeira capela foi construída em 1901, tendo como orago São Joaquim. A antiga gleba, onde se fundou a cidade-Fazenda São Joaquim, deu origem ao topônimo. O Distrito de Paz de São Joaquim foi criado em 1902, no Município de Nuporanga, que em 1909, passou a denominar-se Orlândia. Em 1944, por força de Lei Federal que não permitia a existência de localidades com a mesma denominação, passou a chamar-se São Joaquim da Barra, posto originado do córrego mais importante do Município, córrego da Barra, afluente do Rio Sapucaí.
    </div>
  </div>
</div>
