<div class="container-home">
  <div class="home-banner" style: width=100%>
    <%= image_tag 'RA_franca.png', class: "banner-img" %>
  </div>
  <div class="1">
    <p>ALO ALO ALO</p>
  </div>
  <div class="ms-5">
    <p>ALO ALO ALO</p>
  </div>
  <div class="1">
    <p>ALO ALO ALO</p>
  </div>
  <div class="1">
    <p>ALO ALO ALO</p>
  </div>
</div>
