<div class="container-home">

  <div class="home-banner p-5">
    <div class="ra-banner">
      <h1>Aglomeração Urbana de Franca (AUF)</h1>
    </div>
  </div>
  <div class="content-home p-3 ">

    <div class="home-subtitle mx-5 mb-5">
      <h1> A AUF </h1>
    </div>

    <div class="text-home1 px-5 m-2">
      <p> A <strong>Aglomeração Urbana de Franca (AUF)</strong> foi criada com a aprovação da Lei Complementar n° 1.323/2018 de 2018, o que possibilitou a institucionalização desta unidade territorial. Localizada no extremo nordeste do Estado de São Paulo, a AUF é composta por 19 municípios: Aramina, Buritizal, Cristais Paulista, Franca, Guaíra, Guará, Igarapava, Ipuã, Itirapuã, Ituverava, Jeriquara, Miguelópolis, Patrocínio Paulista, Pedregulho, Restinga, Ribeirão Corrente, Rifaina, São Joaquim da Barra e São José da Bela Vista.
      A região possui destaque no interior paulista pela integração regional, colocando a cidade de Franca como polo econômico que dinamiza a região para a promoção do desenvolvimento econômico, social, cultural e dando suporte para os cidadãos dos municípios vizinhos como acesso a serviços públicos urbanos que a cidade do calçado possa viabilizar, além de promover uma política de conservação patrimonial integrada com os municípios.
      </p>
      <div class="map-home text-center my-5">
        <%= image_tag 'mapa_auf-removebg-preview.png', alt: 'Map' %>
      </div>
      <p> De acordo com a estimativa do Perfil dos Municípios Paulista/SEADE realizada em 2018, a AUF ocupa uma área de 8.404,07 Km², comportando 645.009 habitantes. Embora tenha a participação de 1% do PIB no Estado, a região se destaca no setor da agroindústria com a produção de café e também no setor de serviços . Tendo Franca como cidade polo, o município possui um importante papel na redistribuição de produtos para os principais centros urbanos, devido à sua localização geográfica entre o Estado de MG e SP, além da dinamização econômica e a oferta de postos de trabalhos para as cidades vizinhas como Cristais Paulistas, Patrocínio Paulista, Ribeirão Corrente e entre outras.
      A economia da AUF é caracterizada pela formação de cadeias produtivas no setor da agroindústria. Sua expansão é importante para o crescimento da economia regional, mas também se faz necessário a dinamização da economia local para outros setores.
      No que se refere à distribuição de empregos, Franca concentra 56% das ocupações formais. O Produto Interno Bruto (PIB) regional foi superior a 22 milhões de reais em 2018, com a cidade de Franca concentrando 45% da geração de riqueza, seguido pelas cidades de Guaíra (14,5%)  e São Joaquim da Barra (7,6%) estão respectivamente na 2ª e 3ª posição do PIB regional, de acordo com o levantamento feito pela SDR (2021). Porém, Restinga, Ribeirão Corrente, Jeriquara, São José da Bela Vista e Aramina são as cidades mais vulneráveis e que carecem de infraestrutura urbana considerável, além dos baixos índices de ocupação em empregos formais nestes municípios. Com exceção de Ribeirão Corrente, estes mesmo municípios possuem os maiores índices de famílias que recebem o benefício do Bolsa Família.

      </p>
    </div>

  </div>

</div>
