<div class="d-flex">
  <div class="1">
    <p>ALO ALO ALO</p>
  </div>
  <div class="ms-5">
    <p>ALO ALO ALO</p>
  </div>
  <div class="1">
    <p>ALO ALO ALO</p>
  </div>
  <div class="1">
    <p>ALO ALO ALO</p>
  </div>
</div>
