<div class="container legal-page">
  <div class="heritage-title text-center my-5">
    <h1>Legislação</h1>
  </div>

  <div class="legal-content m-2">
    <div class="d-flex justify-content-center my-5  ">
      <div class="empty"></div>
      <div class="bra-sp heri-box text-center">
        <h3> Brasil e Estado de São Paulo </h3>
      </div>
      <div class="empty"></div>
    </div>
    <div class="decreto my-3">
      <p> Decreto-Lei N° 25/1937, de 30 de novembro de 1937 -  <strong> 1ª legislação que determina políticas de preservação do patrimônio no Brasil e a criação do SPHAN
      </strong> - <a href="https://legis.senado.leg.br/norma/522691#:~:text=Organiza%20a%20prote%C3%A7%C3%A3o%20do%20patrim%C3%B4nio%20hist%C3%B3rico%20e%20art%C3%ADstico
      %20nacional.&text=AS%20ALTERA%C3%87%C3%95ES%20DECORRENTES%20DA%20LEI,DATA%20DE%20SUA%20PUBLICA%C3%87%C3%83O%20OFICIAL.&text=POLITICA%20CULTURAL%20." target="_blank">http://gg.gg/1botcr
      </a> . </p>
    </div>

    <div class="decreto my-3">
      <p> Decreto-lei n° 8.534, de 2 de janeiro de 1946 - <strong> Transformação do SPHAN para DPHAN </strong> <a href='http://gg.gg/1botcp' target="_blank">http://gg.gg/1botcp.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Decreto nº 66.967, de 27 de Julho de 1970 - <strong> Dispõe sobre a organização do Ministério de Educação e Cultura </strong> - <a href='http://gg.gg/1botce' target="_blank">http://gg.gg/1botce.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Decreto-Lei N° 149, de 15 de agosto de 1969 - <strong> Dispõe sobre o tombamento de bens históricos do Estado de São Paulo </strong> - <a href='http://gg.gg/1botc0' target="_blank"> http://gg.gg/1botc0. </a>. </p>
    </div>

    <div class="decreto my-3">
      <p> Lei Complementar N° 1.323/2018 - <strong> Criação da Aglomeração Urbana de Franca </strong> - <a href='http://gg.gg/1botbd' target="_blank">http://gg.gg/1botbd.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Lei N° 10.247, de 22 de outubro de 1968 - <strong> Dispõe sobre o funcionamento do CONDEPHAAT-SP </strong> - <a href='http://gg.gg/1boti6' target="_blank">http://gg.gg/1boti6.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Projeto de Lei N° 760/2023 - <strong> Determina o município de Buritizal como Interesse Turístico </strong> - Disponível em: <a href='http://gg.gg/1botdb' target="_blank">http://gg.gg/1botdb.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Projeto de Lei N° 1.263/2019 - <strong> Fica classificado como Interesse Turístico o Município de Ipuã </strong> - <a href='http://gg.gg/1botjf' target="_blank">http://gg.gg/1botjf.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Diário Oficial Poder Executivo - <strong> Seção I (2010) - Dispõe sobre o tombamento de conjuntos escolares do Estado de São Paulo </strong> - <a href='http://gg.gg/1botf2' target="_blank"> http://gg.gg/1botf2.</a> </p>
    </div>

    <div class="d-flex justify-content-center my-5">
      <div class="empty"></div>
      <div class="bra-auf heri-box text-center">
        <h3> AUF </h3>
      </div>
      <div class="empty"></div>
    </div>

    <div class="decreto my-3">
      <p> Lei Complementar N° 009/2008 - <strong> Plano Diretor Participativo do Município de Cristais Paulistas </strong> - <a href='http://gg.gg/1botkk' target="_blank">http://gg.gg/1botkk.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Lei Ordinária N° 2085/2021 - <strong> Criação do Museu Histórico Municipal de Cristais Paulista </strong> - <a href='http://gg.gg/1botkz' target="_blank">http://gg.gg/1botkz.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> CONDEPHAT-Franca: Relação dos Patrimônios Tombados no Município de Franca, 2016. - <a href='http://gg.gg/1b' target="_blank">http://gg.gg/1b.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Lei Complementar 050/2003 - <strong> Plano Diretor de Franca. </strong> <a href='http://gg.gg/1botm1' target="_blank">http://gg.gg/1botm1.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Lei Ordinária 656/1957 - <strong> Criação do Museu Histórico Municipal </strong> - <a href='http://gg.gg/1botn6' target="_blank">http://gg.gg/1botn6.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Projeto de Lei n° 14 de 01 de junho de 1981 - <strong> Cria o Conselho de Defesa do Patrimônio Histórico, Artístico e Turístico do Município de Franca </strong> - <a href='http://gg.gg/1botnx' target="_blank">http://gg.gg/1botnx.</a>  </p>
    </div>

    <div class="decreto my-3">
      <p> Decreto Nº 8.200 de 1º de Julho de 2003 – <strong> Aprova o Regimento Interno do CONDEPHAT-Franca </strong> - <a href='http://gg.gg/1boto6' target="_blank">http://gg.gg/1boto6.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Lei Complementar Municipal 2.882/2019 - <strong> Revisão do Plano Diretor de Guaíra. </strong> - <a href="https://www.guaira.sp.gov.br/public/admin/globalarq/legislacao/arquivo/LUCOTVr.pdf" target="_blank"> https://www.guaira.sp.gov.br/public/admin/globalarq/legislacao/arquivo/LUCOTVr.pdf. </a> </p>
    </div>

    <div class="decreto my-3">
      <p> Lei N° 1.715/1996 - <strong> Criação do Museu Municipal de Guaíra </strong> - <a href="https://www.legislacaodigital.com.br/Guaira-SP/LeisOrdinarias/1715/Arquivos/1" target="_blank"></a>https://www.legislacaodigital.com.br/Guaira-SP/LeisOrdinarias/1715/Arquivos/1. </p>
    </div>

    <div class="decreto my-3">
      <p> Lei Complementar N° 46/2006 - <strong> Instituiu o Plano Diretor de Desenvolvimento Participativo do Município de Guará </strong> - <a href='http://gg.gg/1br0j3' target="_blank">http://gg.gg/1br0j3.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Lei N° 1539/2009 - <strong> Criação do Conselho Municipal em Defesa do Patrimônio Histórico de Guará </strong> - <a href='http://gg.gg/1br0jj' target ="_blank">http://gg.gg/1br0jj.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Lei N° 620/2014 – <strong> Criação do Conselho Municipal em Defesa do Patrimônio Histórico de Igarapava </strong> - <a href='http://gg.gg/1br0jz' target="_blank">http://gg.gg/1br0jz.</a>  </p>
    </div>

    <div class="decreto my-3">
      <p> Lei Complementar N° 031/2020 - <strong> Revisão do Plano Diretor Participativo de Ituverava </strong> - <a href='http://gg.gg/1br0kb' target="_blank">http://gg.gg/1br0kb.</a> </p>
    </div>

    <div class="decreto my-3">
      <p> Lei Complementar n° 06/2017 – <strong> Plano Diretor de Rifaina </strong> - <a href='http://gg.gg/1br0l2' target="_blank">http://gg.gg/1br0l2.</a> </p>
    </div>

    <div class="decreto my-3">
      <p>  Lei N° 1710/2015 - <strong> Plano Diretor de Turismo de Rifaina </strong> - <a href='http://gg.gg/1br0ly' target="_blank">http://gg.gg/1br0ly.</a> </p>
    </div>

  </div>

  <div class="heritage-letters my-5">
    <div class="letter-title heritage-title text-center my-4">
      <h3> Cartas do Patrimônio </h3>
    </div>
    <div class="letters my-2">
      <p> Carta de Atenas (1933) - <a href='http://gg.gg/1br0md' target="_blank">http://gg.gg/1br0md.</a> </p>
    </div>

    <div class="letters my-2">
      <p> Carta de Veneza (1964) - <a href='http://gg.gg/1br0mj' target="_blank">http://gg.gg/1br0mj.</a>  </p>
    </div>

    <div class="letters my-2">
      <p> Compromisso de Salvador (1971) - <a href='http://gg.gg/1br0uk' target="_blank">http://gg.gg/1br0uk.</a>  </p>
    </div>

    <div class="letters my-2">
      <p> Declaração de Amsterdã (1975). <a href='http://gg.gg/1br0ur' target="_blank"> http://gg.gg/1br0ur.</a>  </p>
    </div>

    <div class="letters my-2">
      <p> Normas de Quito. <a href='http://gg.gg/1br0v7' target="_blank">http://gg.gg/1br0v7.</a> </p>
    </div>

    <div class="letters my-2">
      <p> UNESCO - <strong> Convenção Para a Proteção do Patrimônio Mundial, Cultural e Natural, 1972. </strong> - <a href="http://gg.gg/1br0vg" target="_blank">http://gg.gg/1br0vg.</a>  </p>
    </div>
  </div>

</div>
