<div class="container heritage-page">
  <div class="text-center m-5">
    <h1>Patrimônio Cultural</h1>
  </div>
  <div class="prof-dantes text-center">
    <h2>E.E. Prof. Dantes</h2>
  </div>
  <div class="text-center">
    <p><strong>Localização:</strong> Rua Benjamin Constant, 443 – CEP 14540-000 – Igarapava</p>
    <p>É uma das 11 escolas de um mesmo projeto elaborado em 1909 por José Van Humbeeck. Instalada em 1914, o prédio tem planta simétrica e uso independente para cada seção, que ficavam isoladas por porta tipo vai-e-vem no corredor central.
    É uma das integrantes do conjunto de 126 escolas públicas construídas pelo Governo do Estado de São Paulo entre 1890 e 1930 que compartilham significados cultural, histórico e arquitetônico. Essas edificações expressam o caráter inovador e modelar das políticas públicas educacionais que, durante a Primeira República, reconheceram como inerente ao papel do Estado a promoção do ensino básico, dito primário, e a formação de professores bem preparados para tal função. Quanto às políticas de construção de obras públicas, são representativas pela estruturação racional de se instalar edificações adequadas ao programa pedagógico por todo o interior e capital do Estado.
    Destaca-se a qualidade do conjunto caracterizado pela técnica construtiva simples, consolidando o uso de alvenaria de tijolos e por uma linguagem estilística que simplificou os atributos da tradição clássica acadêmica. A organização espacial era concebida incorporando preceitos e recomendações de higiene, insolação e ventilação previstos na cultura arquitetônica que vinha se firmando desde o século XIX. O programa pedagógico distribuía essencialmente salas de aulas ao longo de eixos de circulação em plantas simétricas. Aos poucos se firmaram em projetos arquitetônicos padronizados que se repetiam com pouca ou nenhuma variação em mais de um município.</p>
    <p><strong>Número do Processo:</strong> 24929/86</p>
    <p><strong>Resolução de Tombamento:</strong> Resolução 60 de 21/07/2010</p>
    <p><strong>Livro do Tombo Histórico:</strong> inscrição nº 377, p. 103 a 110, 05/09/2011.</p>
  </div>
  <div class="prof-fabiano text-center">
    <h2>EMEF Fabiano Alves de Freitas</h2>
  </div>
  <div class="text-center">
    <p><strong>Localização:</strong> Rua Cel. Augusto Barbosa, 96 – CEP 14500-000 – Ituverava </p>
    <p> Nesta escola, o pátio não é totalmente contornado pela edificação, o que permite uma integração visual com o restante do terreno. O projeto, de José Van Humbeeck e Mauro Álvaro, teve a colaboração de outros arquitetos.
    É uma das integrantes de conjunto de 126 escolas públicas construídas pelo Governo do Estado de São Paulo entre 1890 e 1930 que compartilham significados cultural, histórico e arquitetônico. Essas edificações expressam o caráter inovador e modelar das políticas públicas educacionais que, durante a Primeira República, reconheceram como inerente ao papel do Estado a promoção do ensino básico, dito primário, e a formação de professores bem preparados para tal função. Quanto às políticas de construção de obras públicas, são representativas pela estruturação racional de se instalar edificações adequadas ao programa pedagógico por todo o interior e capital do Estado.
    Destaca-se a qualidade do conjunto caracterizado pela técnica construtiva simples, consolidando o uso de alvenaria de tijolos e por uma linguagem estilística que simplificou os atributos da tradição clássica acadêmica. A organização espacial era concebida incorporando preceitos e recomendações de higiene, insolação e ventilação previstos na cultura arquitetônica que vinha se firmando desde o século XIX. O programa pedagógico distribuía essencialmente salas de aulas ao longo de eixos de circulação em plantas simétricas. Aos poucos se firmaram em projetos arquitetônicos padronizados que se repetiam com pouca ou nenhuma variação em mais de um município. </p>
    <p><strong>Número do Processo:</strong> 24929/86</p>
    <p><strong>Resolução de Tombamento:</strong> Resolução 60 de 21/07/2010</p>
    <p><strong>Livro do Tombo Histórico:</strong> inscrição nº 377, p. 103 a 110, 05/09/2011.</p>
  </div>
  <div class="relogio-solar text-center">
    <h3> Relógio Solar </h3>
  </div>
  <div class="text-center">
    <p><strong>Localização:</strong> Praça Nossa Senhora da Conceição – Franca </p>
    <p> Em 1805, foi autorizada a construção da Igreja de Nossa Senhora da Conceição da Freguesia da Franca e Rio Pardo. Com o crescimento do povoado, Franca foi elevada à categoria de vila em 1824. Ao atingir o final do século XIX, já era visível o seu desenvolvimento, através das inúmeras melhorias urbanas como, por exemplo, iluminação a querosene, construção de prédios públicos, casas de saúde, escolas, obras de saneamento e implantação da linha Mogiana.

    O Relógio Solar de Franca foi montado em 1886, pelo capuchinho francês frei Germano Dannecy, estudioso de astronomia e eletricidade, que recebeu o convite de dom Pedro II para dirigir o Observatório Meteorológico do Império. O relógio, construído com recursos vindos das contribuições da população local, constitui-se, juntamente com outro existente na França, nos únicos exemplares do gênero no mundo. Trata-se de um relógio vertical, de corpo cilíndrico, com mais de 3m de altura, apoiando em seu topo um cubo, em cujas faces é feita a leitura das horas.</p>
    <p><strong>Número do Processo:</strong> 08499/69 </p>
    <p><strong>Resolução de Tombamento:</strong> Resolução de 08/03/1972 </p>
    <p><strong>Livro do Tombo Histórico:</strong> inscrição nº 266, p. 69, 25/03/1987 </p>
  </div>
  <div class="cel-francisco text-center">
    <h3> EE Cel. Francisco Martins </h3>
  </div>
  <div class="text-center">
    <p><strong>Localização:</strong> Praça Cel. Antonio Jacinto , 1533 CEP – 14400-540 – Franca </p>
    <p> Escola criada em 1911, funcionando em um prédio adaptado, doado ao governo do Estado pela Câmara Municipal. Foi seu organizador e primeiro diretor foi o professor Benedicto Estevan  dos  Santos.
    É uma das integrantes de um conjunto de 126 escolas públicas construídas pelo Governo do Estado de São Paulo entre 1890 e 1930 que compartilham significados cultural, histórico e arquitetônico. Essas edificações expressam o caráter inovador e modelar das políticas públicas educacionais que, durante a Primeira República, reconheceram como inerente ao papel do Estado a promoção do ensino básico, dito primário, e a formação de professores bem preparados para tal função. Quanto às políticas de construção de obras públicas, são representativas pela estruturação racional de se instalar edificações adequadas ao programa pedagógico por todo o interior e capital do Estado.
    Destaca-se a qualidade do conjunto caracterizado pela técnica construtiva simples, consolidando o uso de alvenaria de tijolos e por uma linguagem estilística que simplificou os atributos da tradição clássica acadêmica. A organização espacial era concebida incorporando preceitos e recomendações de higiene, insolação e ventilação previstos na cultura arquitetônica que vinha se firmando desde o século XIX. O programa pedagógico distribuía essencialmente salas de aulas ao longo de eixos de circulação em plantas simétricas. Aos poucos se firmaram em projetos arquitetônicos padronizados que se repetiam com pouca ou nenhuma variação em mais de um município. </p>
    <p><strong>Fonte Processo de Tombamento</strong></p>
    <p><strong>Número do Processo:</strong> 24929/86 </p>
    <p><strong>Resolução de Tombamento:</strong> Resolução 60 de 21/07/2010 </p>
    <p><strong>Livro do Tombo Histórico:</strong>  inscrição nº 377, p. 103 a 110, 05/09/2011. </p>
  </div>
  <div class="mogiana text-center">
    <h3> Estação Mogiana </h3>
    <h4> Decreto nº 7420 de 11 de agosto de 1997 </h4>
  </div>
  <div class="text-center">
    <p><strong>Localização:</strong> Rua Frei Germano s/nº, Bairro da Estação - Franca </p>
    <p> A estação de Franca foi inaugurada em 1887, sendo esta, na época, um dos objetivos mais importantes a serem atingidos pela ferrovia. Depois da chegada da linha a Casa Branca, em 1878, é que a Mogiana passou a avaliar a alternativa de seguir em linha reta para o norte, chegando a essa cidade, mas, graças à expansão muito rápida da nova região de Ribeirão Preto, a companhia decidiu-se por mover a linha para oeste, e somente depois de cruzar o rio Pardo, aí sim, voltar para nordeste para atingir a velha Franca do Imperador. Em Franca cita-se o dia 5 de não o 11 de abril como a inauguração da estação. Pode ter sido uma antecipação dos serviços, que teriam, então, começado 6 dias mais tarde. Em 5 de abril, uma locomotiva a vapor com um carro de passageiros e alguns vagões de lastro inaugurou o prédio e a linha. À sua volta, duas casas apenas, num enorme deserto: a de Antonio Nicácio e a de Simão Caleiro. O bairro da Estação foi-se desenvolvendo a partir daí: a estação era sempre um centro de recepção de personalidades. Em 1939, a estação ganhou um prédio novo, mais moderno, estilo "art-noveau". Com o tempo, entretanto, a linha do Rio Grande foi perdendo a sua importância, reduzindo muito seu movimento. Ainda assim, em 01/06/1969, as oficinas da estação receberam boa parte do que estava sediado na estação de Ribeirão Preto-velha, recém-desativada. Em 01/08/70, porém, pouco mais de um ano depois, o destacamento de tração de Franca foi definitivamente suprimido, com seu pessoal sendo deslocado para outras unidades da ferrovia (*RM-1970).  Nesse mesmo ano, a linha do rio Grande tornou-se o ramal de Franca, seguindo somente até Pedregulho, e, poucos anos depois, chegando mesmo somente até Franca. Em 15 de fevereiro de 1977, o último trem de passageiros, aliás, um trem misto, com um carro apenas e cinco vagões cargueiros, partiu de Franca, conduzido pelo maquinista Augusto Ferreira Mendes, ao meio-dia de uma terça-feira, com o chefe do trem Olivio Marques avisando aos passageiros da notícia. Já os de carga sobreviveram somente até 1980. A estação fechou oficialmente em 1983, quando seu último chefe, José Antônio Bosco, entregou suas chaves. </p>
  </div>
  <div class="champagnat text-center">
    <h3> Colégio Champagnat </h3>
    <h4> Decreto nº 7420 de 11 de agosto de 1997 </h4>
  </div>
  <div class="text-center">
    <p><strong>Localização:</strong> Av. Champagnat nº 1808, Centro - Franca </p>
    <p> A Vila Franca do Imperador, instalada em 28/novembro/1824 envolvia uma extensa região que ia do Rio Pardo ao Rio Grande. Sua principal atividade econômica era a criação do gado, vacum e a plantação de gêneros alimentícios. A sede da Vila localizava-se no Arraial da Franca, cujo nascimento datava de 1805 com o início da construção de uma "Casa de Orações". Durante quase todo o século XIX o Arraial, 1 Núcleo Urbano do todo Norte do atual Estado de São Paulo não foi além de um "Arraial Sertanejo”, tímido e acanhado em sua população e em seus equipamentos urbanos. Nos finais do século XIX o advento da lavoura cafeeira e da ferrovia irá mudar significativamente o panorama da região. É a partir desse momento que o núcleo Urbano, isto é, o antigo arraial da Franca irá desenvolver-se e consolidar-se. Suas ruas começam a receber calçamento, suas praças e demais logradouros passam a ser tratadas com o devido esmero e cuidado. A cidade cresce, a população urbana aumenta e produz em suas fábricas as cervejas, as gasosas, os chapéus, os fósforos, os macarrões, os couros curtidos e os calçados. Fundam-se a Santa Casa de Misericórdia c o Teatro, os Hotéis e Bilhares, os Jornais, os Colégios. Antes de se iniciar o século XX Franca já possuía dois Estabelecimentos de Ensino de alto nível. Um era o Culto às Letras, dirigido por César Augusto Ribeiro e o outro Colégio Nossa Senhora de Lourdes, das irmãs de Chamberry. Monsenhor Cândido da Silveira Rosa, à época vigário da Freguesia empenhouse na vinda das “Freiras" afim de que as meninas e as adolescentes da Franca pudessem ter uma formação educacional e religiosa comparável à européia. Sua preocupação estendeu-se aos meninos e rapazes e por isso, o Monsenhor foi buscar os irmãos Maristas para exercerem o Magistério na Franca do Imperador. </p>
  </div>
  <div class="museu-municipal text-center m-3">
    <h3> Museu Histórico Municipal “JOSÉ CHIACHIRI” </h3>
    <h4>  Decreto nº 7420 de 11 de agosto de 1997 </h4>
  </div>
  <div class="text-center">
    <p><strong>Localização:</strong> Rua Campos Salles, nº 1699, Centro - Franca </p>
    <p> O prédio atual que abriga as dependências do Museu Histórico foi construído em 1896 cujo projeto foi elaborado pelo arquiteto francês Victor Dubugras. Carregado de traços medievais, o edifício caracteriza-se pelo estilo eclético. O prédio abrigou inicialmente a Cadeia Pública e o Fórum da cidade até 1913. Em meados de 1913, passou a abrigar a Prefeitura Municipal e também a Câmara Municipal (Paço Municipal “Rui Barbosa”). Em 1970, no dia 28 de novembro inaugura-se a sede definitiva do Museu Histórico Municipal “José Chiachiri”. Em 1997, o prédio do Museu Histórico Municipal “José Chiachiri” foi tombado pelo Condephat Municipal pelo Decreto 7420, de 11 de agosto do mesmo ano. </p>
  </div>
  <div class="cadeia-publica text-center m-3">
    <h3> Cadeia Pública </h3>
    <h4>  Decreto nº 7686 de 15 de setembro de 1999 </h4>
  </div>
</div>
