.navbar {
  display: block !important;
  box-shadow: 0 4px 4px -2px rgb(165, 165, 165);
  background-color: #302616;
}

.nav-link {
  color: #ECCD97 !important;
  font-size: large;
  font-weight: bold;
  &:hover {
    color: #fae6c5;
  }
  &:visited,
  &:active {
    color: #ECCD97 !important; // Altere a cor aqui para o que desejar
  }
}
